@import 'tailwindcss';

:root {
  --dark-cyan: #071b1b;
  --white-smoke: #f2f2f2;
  --aquamarine: #00ffe1;
  --aquamarine-fade: #00e2c8;
  --aquamarine-contrast: #00332e;
  --background: var(--dark-cyan);
  --foreground: var(--white-smoke);
  --accent: var(--aquamarine);
  --accent-fade: var(--aquamarine-fade);
  --accent-contrast: var(--aquamarine-contrast);
  --default-font-family: var(--font-asap), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-fade: var(--accent-fade);
  --color-accent-contrast: var(--accent-contrast);
  --font-sans: var(--font-asap);
  --font-mono: var(--font-azeret-mono);
  --font-heading: Rubik Mono One;
}

/* This website only supports dark mode for now, when light mode is added, uncomment this code and adjust colors as needed
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-cyan);
    --foreground: var(--white-smoke);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  min-height: 100vh;
}

/* Custom subtle scrollbar for all elements */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--white-smoke) var(--background);
}

/* For Webkit browsers */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background: var(--white-smoke);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}
